@charset "utf-8";
/* CSS Document */
body{ font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;font-size:12px; background:#252121; color:#fff;}
.outerContainer{ width:900px; margin:0 auto;overflow: hidden; background:#000;}
.positionLeft{float:left;}
.positionRight{float:right;}
.headerText{ margin-left: 150px; margin-top: 60px; font-size:25px;}
.rightHeader{ text-align:center; margin-top: 45px; margin-right: 10px;}
.rightHeaderImg img{padding-right: 5px;padding-top: 5px;}
.headerNav{ float:left; margin-top: 32px;margin-left: 20px;}
.headerNav a{  text-decoration:none; background:#303030; color:#fff;  font-size: 13px;font-weight: bold;padding: 7px 29px;} 
.headerNav a:hover{ background:#181a26;}
.header{height: 140px;}
.mainPage{ clear:both; margin:50px; background:#181a26; min-height:400px; margin-bottom:5px;}
.selected{ font-weight:bold !important; background:#181a26 !important; color:blue !important;}
.footer{margin:12px; font-size:10px;}
.footer a{padding:0px 5px; color:#fff; border-right:1px solid #fff; text-decoration:none;}